body {
      font-family: Montserrat, sans-serif;
      min-height: 300vh; /* скролл страницы */
    }

.main_sulphur {
      position: relative;
      width: 100%;
      height: 400px;
      overflow: hidden;
}

.main_sulphur img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: auto;
      min-height: 1000px; /* БОЛЬШЕ БЛОКА */

      object-fit: cover;
      will-change: transform;
}

.sulphur {
      position: relative;
      z-index: 2;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;
      color: #fff;
      padding: 0 20px;
}

.sulphur h1 {
      font-size: 28px;
      margin-bottom: 16px;
      text-shadow: 0 4px 10px rgba(0,0,0,.4);
}

.sulphur p {
      max-width: 700px;
      line-height: 1.5;
      text-shadow: 0 2px 6px rgba(0,0,0,.4);
}

.main_sulphur::after {
  content: "";
  position: absolute;
  inset: 0; /* сверху, снизу, слева, справа = 0 */
  
  /* градиент: снизу почти чёрный, сверху полупрозрачный */
  background: linear-gradient(
    to top,             /* направление снизу вверх */
    rgba(0,0,0,0.9),    /* снизу почти чёрный */
    rgba(0,0,0,0.5)     /* сверху 50% прозрачность */
  );
  z-index: 1;
  pointer-events: none; /* чтобы текст был кликабельным */
}