body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    font-size: 18px;
}

img {
    width: 100%;
}

.wrapper {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}


.off-screen-menu {
    background-color:  black;
    height: 100vh;
    width: 100%;
    max-width: 480px;
    position: fixed;
    top: 0;
    right: -480px;
    display: flex;
    flex-direction: column;

    align-items: flex-start;   /* ⬅ слева */

    padding-top: 50px;
    padding-left: 40px;        /* ⬅ отступ от края */
    text-align: left; 
    font-size: 3rem;
    transition: .3s ease;
    float: left;

    z-index: 9999;
}
.off-screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: white;
}


.ham-menu {
    height: 30px;
    width: 28px;
    margin-left: auto;
    position: relative;

    z-index: 10000;
}
.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: #000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
}


.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}