.main_container {
    position: relative;
    width: 100%;
    height: 65vh;
    min-height: 360px;
    overflow: hidden;
}

.main_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}


/* затемнение */
.main_container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/* текст */
.container {
    position: absolute;
    inset: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    text-align: center;
    color: white;
    padding: 0 20px;
}

/* заголовок */
.container h1 {
    font-family: "Montserrat", sans-serif; 
    font-size: 40px;
    padding: 24px 0 38px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

/* текст */
.container p {
    font-family: "Montserrat", sans-serif;
    max-width: 700px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.9;
}


.container h1 {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container p {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


@media (min-width: 1200px) {
    .container h1 {
        font-size: 40px;
        padding: 30px 0 40px;
    }

    .container p {
        font-size: 22px;
        max-width: 800px;
    }
}

/* Для планшетов */
@media (max-width: 1199px) and (min-width: 768px) {
    .main_container {
        height: 55vh;
    }

    .container h1 {
        font-size: 45px;
        padding: 20px 0 30px;
    }

    .container p {
        font-size: 18px;
        max-width: 600px;
        line-height: 1.4;
    }

    .container {
        margin-top: 80px;
        padding: 0 15px;
    }
}

/* Для мобильных телефонов */
@media (max-width: 767px) {
    .main_container {
        height: 45vh;
    }

    .container h1 {
        font-size: 30px;
        padding: 15px 0 20px;
    }

    .container p {
        font-size: 16px;
        max-width: 90%;
        line-height: 1.3;
    }

    .container {
        margin-top: 60px;
        padding: 0 10px;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
